Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

sync with upstream
  core/default.nix
  flake.lock
  flake.nix
  hardware/intel.nix
  hosts/pixel6/default.nix
  nix/darwin.nix
  nix/home-manager.nix
  nix/nix-on-droid.nix
  nix/nixos.nix
  nix/overlays/discord-new-electron.nix
  nix/overlays/glinux-sway.nix
  nix/overlays/linux-lto.nix
  nix/overlays/masked-pkgs.nix
  nix/overlays/sway-scene-graph.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

remove core/dendrite-demo-pinecone.nix
  core/dendrite-demo-pinecone.nix
Due: nixpkgs-fmt, nix-linter

nur -> rycee-nur-expressions
  flake.lock
  flake.nix
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  hosts/pixel6/default.nix
  hosts/work/default.nix
  nix/nix-on-droid.nix
  nix/nixos.nix
  nix/overlay.nix
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

use my rycee/nur-expressions fork for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

use my danth/stylix fork for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

Revert "use my rycee/nur-expressions fork for now"
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake.lock: Update
  flake.lock
Due: none

exa -> eza
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

Revert "use my danth/stylix fork for now"
  flake.lock
  flake.nix
Due: nixpkgs-fmt

nvidia.acceptLicense = true
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove btrfs stuff
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove persistence for now
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

add rio
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

update hardware-configuration-laptop.nix
  hardware/hardware-configuration-laptop.nix
Due: nixpkgs-fmt, nix-linter

laptop: update sops key
  .sops.yaml
  hosts/laptop/restic-laptop.yaml
Due: none

set 'config.nvidia.acceptLicense = true' correctly
  flake.nix
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

try to fix the build
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove zen kernel for now
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove boot.kernelPackages.bcc
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

update hardware/hardware-configuration-desktop.nix
  hardware/hardware-configuration-desktop.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove old fileSystems stuff
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove btrfs stuff
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove the zen kernel for now
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

sway: remove 'spawn' for now'
  users/bbigras/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove persistence
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: update age key
  .sops.yaml
  hosts/desktop/restic-desktop.yaml
Due: none

pixel6: use emacs 29
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

flake: use extra-substituters instead
  flake.nix
Due: nixpkgs-fmt

remove attic for now
  core/default.nix
  flake.lock
  flake.nix
  hosts/work/default.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
  ci.nix
  core/darwin.nix
  core/nix.nix
  core/steam.nix
  flake.lock
  flake.nix
  graphical/nixos.nix
  hardware/bluetooth.nix
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  hosts/pixel6/default.nix
  hosts/work/default.nix
  nix/checks.nix
  nix/darwin.nix
  nix/dev-shell.nix
  nix/home-manager.nix
  nix/hosts.nix
  nix/nix-on-droid.nix
  nix/nixos.nix
  nix/overlay.nix
  nix/overlays/combobulate.nix
  nix/overlays/scripts/default.nix
  nix/overlays/scripts/nix-closure-size.sh
  nix/overlays/sway-scene-graph.nix
  nix/overlays/truecolor-check.nix
  nix/packages.nix
  users/bbigras/core/default.nix
  users/bbigras/core/emacs-android.nix
  users/bbigras/core/ssh.nix
  users/bbigras/default.nix
  users/bbigras/dev/default.nix
  users/bbigras/graphical/alacritty.nix
  users/bbigras/graphical/firefox.nix
  users/bbigras/graphical/kitty.nix
  users/bbigras/graphical/linux.nix
  users/bbigras/graphical/mpv.nix
  users/bbigras/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

remove emacs-android.nix
  hosts/pixel6/default.nix
  users/bbigras/core/emacs-android.nix
Due: nixpkgs-fmt, nix-linter

update ssh keys
  users/bbigras/nixos.nix
Due: nixpkgs-fmt, nix-linter

split emacs config
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
  users/bbigras/core/emacs.nix
  users/bbigras/core/emacs/android.nix
  users/bbigras/core/emacs/consult.nix
  users/bbigras/core/emacs/default.nix
  users/bbigras/core/emacs/git.nix
  users/bbigras/core/emacs/go.nix
  users/bbigras/core/emacs/latex.nix
  users/bbigras/core/emacs/org-mode.nix
  users/bbigras/core/emacs/rust.nix
  users/bbigras/core/emacs/tree-sitter.nix
  users/bbigras/core/emacs/typescript.nix
Due: nixpkgs-fmt, nix-linter

emacs: use overlay for envrc
  flake.lock
  flake.nix
  nix/overlays/envrc.nix
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: use overlay for org-tufte
  flake.lock
  flake.nix
  nix/overlays/org-tufte.nix
  users/bbigras/core/emacs/org-mode.nix
Due: nixpkgs-fmt, nix-linter

use flake-compat as a flake
  flake.nix
Due: nixpkgs-fmt

update .justfile
  .justfile
Due: none

emacs: remove org-modern-indent
  users/bbigras/core/emacs/org-mode.nix
Due: nixpkgs-fmt, nix-linter
