Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

flake.lock: Update
  flake.lock
Due: none

desktop: update yggdrasil-conf secret
  hosts/desktop/restic-desktop.yaml
Due: none

emacs: + pomm
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

firefox: disable recommendations
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

emacs: update avy keybindings
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

flake: use only 1 flake-compat
  flake.lock
  flake.nix
Due: nixpkgs-fmt

firefox: + sponsorblock
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter
