Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

test fix for pixel6
  .github/workflows/ci.yaml
Due: none

add space-station-14-launcher
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

fix warnings
  hosts/work/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

try to fix pixel6
  .github/workflows/ci.yaml
Due: none

test
  .github/workflows/ci.yaml
Due: none

sync with upstream
  nix/overlays/sway-scene-graph.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter

flake.lock: Update
  flake.lock
Due: none

ci: fix pixel6 build
  .github/workflows/ci.yaml
Due: none

desktop: add loader.systemd-boot.memtest86
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

update hardware-configuration-desktop.nix
  hardware/hardware-configuration-desktop.nix
Due: nixpkgs-fmt, nix-linter

Revert "laptop: fix 'infinite' problem with nixos-hardware"
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

pixel6: use zrok from nixpkgs
  hosts/pixel6/default.nix
  hosts/pixel6/zrok.nix
Due: nixpkgs-fmt, nix-linter

desktop: set fileSystems options
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: don't persist machine-id
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

fonts: add fira-code-symbols
  graphical/fonts.nix
Due: nixpkgs-fmt, nix-linter

desktop: fix gamedisk fs
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

add smartd
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  hosts/work/default.nix
Due: nixpkgs-fmt, nix-linter

add git-annex and git-remote-gcrypt
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

.sops.yaml: remove nebula
  .sops.yaml
Due: none

.sops.yaml: switch desktop key to age
  .sops.yaml
Due: none

work: set netrc file
  .sops.yaml
  hosts/work/default.nix
  hosts/work/secrets.yaml
Due: nixpkgs-fmt, nix-linter

work: remove printing
  hosts/work/default.nix
Due: nixpkgs-fmt, nix-linter

move graphical apps
  users/bbigras/core/default.nix
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

remove duplicate tailscale line
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter

emacs: use emacs-pgtk with sway
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

core: use molly-guard
  core/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: rename "lan" -> "10-lan"
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

flake: remove nix
  .github/workflows/ci.yaml
  flake.lock
  flake.nix
  nix/overlay.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter

fix warnings
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

disable qt style to fix build
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

remove always-allow-substitutes
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

flake: pin nix-on-droid
  flake.lock
  flake.nix
Due: nixpkgs-fmt

stylix: try tomorrow-night
  core/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

stylix: use nixos-artwork.wallpapers.simple-dark-gray
  core/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

emacs-android: fix warning
  users/bbigras/core/emacs-android.nix
Due: nixpkgs-fmt, nix-linter

pixel6: use stylix
  hosts/pixel6/default.nix
  nix/nix-on-droid.nix
  users/bbigras/core/emacs-android.nix
Due: nixpkgs-fmt, nix-linter

update hosts/desktop/restic-desktop.yaml
  .sops.yaml
  hosts/desktop/restic-desktop.yaml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
