Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

ci: try to re-enable pixel6
  .github/workflows/ci.yaml
  nix/deploy.nix
Due: nixpkgs-fmt, nix-linter

add .justfile
  .justfile
Due: none

ci: --extra-platforms aarch64-linux
  .github/workflows/ci.yaml
Due: none

sway: addback xdg.portal
  graphical/sway.nix
Due: nixpkgs-fmt, nix-linter

flake.lock: Update
  flake.lock
Due: none

nixgl: follow nixpkgs
  flake.lock
  flake.nix
Due: nixpkgs-fmt

add atuin (from upstream)
  hosts/laptop/default.nix
  hosts/pixel6/default.nix
  users/bbigras/core/atuin.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

prune stale overlays (upstream)
  hardware/bluetooth.nix
  nix/overlays/bluez-latest.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  .github/workflows/ci.yaml
  .justfile
  flake.lock
  flake.nix
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  hosts/work/default.nix
  nix/build-hosts.nix
  nix/checks.nix
  nix/dev-shell.nix
  nix/home-manager.nix
  nix/host-drvs.nix
  nix/hosts.nix
  nix/join-host-drvs.nix
  nix/mask-large-drvs.nix
  nix/nixos.nix
  nix/overlay.nix
  nix/overlays/ayu-theme-gtk.nix
  nix/overlays/linux-lto.nix
  nix/overlays/menu/default.nix
  nix/overlays/menu/emojimenu.nix
  nix/overlays/menu/gopassmenu.nix
  nix/overlays/menu/sway-launcher-desktop.nix
  nix/overlays/optimized.nix
  users/bbigras/default.nix
Due: nixpkgs-fmt, nix-linter

emacsPgtkGcc -> emacsPgtkNativeComp
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

tmux: add plugins
  users/bbigras/core/tmux.nix
Due: nixpkgs-fmt, nix-linter

pixel6: add stuff
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

resolved: use both cloudflare dns
  core/resolved.nix
Due: nixpkgs-fmt, nix-linter

remove mcfly
  hosts/laptop/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

fix lint warning
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

programs.tealdeer
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

enable hyperspace-cli
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove kernel pin for now
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

README: add nix-on-droid info
  README.md
Due: none

pixel6: try full emacs
  hosts/pixel6/default.nix
  nix/host-drvs.nix
Due: nixpkgs-fmt, nix-linter

+ freeplane
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

try fix ci for desktop
  .github/workflows/ci.yaml
Due: none

test fix extra-platforms
  .github/workflows/ci.yaml
Due: none

try fix ci
  .github/workflows/ci.yaml
Due: none

test fix ci
  .github/workflows/ci.yaml
Due: none

add prusa-slicer and super-slicer
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

Revert "pixel6: try full emacs"
  hosts/pixel6/default.nix
  nix/host-drvs.nix
Due: nixpkgs-fmt, nix-linter

pixel6: add 'ssh-server' alias back
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

firefox: add ff2mpv
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

zsh: add 'ntp-google' alias
  users/bbigras/core/zsh.nix
Due: nixpkgs-fmt, nix-linter

atuin: don't set ATUIN_NOBIND
  users/bbigras/core/atuin.nix
Due: nixpkgs-fmt, nix-linter

atuin: use default settings
  users/bbigras/core/atuin.nix
Due: nixpkgs-fmt, nix-linter

emacs: fix consult-buffer error
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

pixel6: auto install font
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
