Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

pixel2: emacs
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

flake: pin nix-on-droid for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake.lock: Update
  flake.lock
Due: none

git: add credential.helper
  users/bbigras/core/git.nix
Due: nixpkgs-fmt, nix-linter

fix powerlevel10k config
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

pixel 2: use zsh and powerlevel10k
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: + kubernetes
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

unpin inputs
  flake.lock
  flake.nix
Due: nixpkgs-fmt
