Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

flake.lock: Update
  flake.lock
Due: none

pixel2: set home.language.base
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

git: merge.conflictstyle = "diff3"
  users/bbigras/core/git.nix
Due: nixpkgs-fmt, nix-linter

pixel2: add vault stuff
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: add 'ssh-server' alias
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pin bbigras/dendrite-demo-pinecone for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

remove naersk input
  flake.lock
  flake.nix
Due: nixpkgs-fmt

add cache.ngi0.nixos.org
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

pixel2: home-manager.useGlobalPkgs = true
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: +htop
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: vault-ssh -> vssh
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: dnsutils
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
