Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

flake.lock: Update
  flake.lock
Due: none

update: nix-flakes-installer
  .github/workflows/ci.yml
  .github/workflows/update-flakes.yml
Due: none

home-manager: use programs.exa
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: +graphql-mode
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

+ obsidian
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

update nix-flakes-installer
  .github/workflows/ci.yml
  .github/workflows/update-flakes.yml
Due: none

sway: fix increments
  users/bbigras/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

+ nix-matrix-pinecone
  flake.lock
  flake.nix
  nix/deploy.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

experimental-features = + ca-derivations ca-references
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

add nix-direnv overlay
  flake.lock
  flake.nix
  nix/deploy.nix
Due: nixpkgs-fmt, nix-linter

nix-matrix-yggdrasil.cachix.org -> nix-matrix-pinecone.cachix.org
  .github/workflows/update-flakes.yml
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

remove unused cachix caches
  .github/workflows/ci.yml
  .github/workflows/update-flakes.yml
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

sync upstream
  .github/dependabot.yaml
  .github/workflows/ci.yaml
  .github/workflows/ci.yml
  .github/workflows/update-flakes.yaml
  .github/workflows/update-flakes.yml
  .gitignore
  .pre-commit-config.yaml
  core/default.nix
  default.nix
  flake.lock
  flake.nix
  lib/home.nix
  nix/deploy.nix
  nix/hosts.nix
  nix/images.nix
  nix/join-drvs.nix
  nix/mk-host.nix
  nix/outputs.nix
  nix/overlays/ayu-theme-gtk.nix
  nix/overlays/menu/default.nix
  nix/overlays/menu/emojimenu.nix
  nix/overlays/menu/gopassmenu.nix
  nix/overlays/menu/sway-launcher-desktop.nix
  nix/overlays/mkSecret.nix
  nix/overlays/mosh.nix
  nix/overlays/nix-zsh-completions.nix
  nix/overlays/screenocr.nix
  nix/overlays/screenshot.nix
  nix/overlays/spawn.nix
  nix/overlays/write-sane-shell-script-bin.nix
  nix/shell.nix
  overlays/menu/default.nix
  overlays/menu/emojimenu.nix
  overlays/menu/gopassmenu.nix
  overlays/screenocr.nix
  overlays/spawn.nix
  sway/default.nix
Due: nixpkgs-fmt, nix-linter

sway: try foot
  users/bbigras/sway/alacritty.nix
  users/bbigras/sway/default.nix
  users/bbigras/sway/foot.nix
  users/bbigras/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

flake: rycee/home-manager -> nix-community/home-manager
  flake.lock
  flake.nix
Due: nixpkgs-fmt

ci: remove lints job for now
  .github/workflows/ci.yaml
Due: none

home: programs.nix-index
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: fix extra-platforms
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

Revert "remove nix-on-droid for now"
  flake.nix
Due: nixpkgs-fmt

remove nix/images.nix
  nix/images.nix
  nix/outputs.nix
Due: nixpkgs-fmt, nix-linter

enable pixel2 again
  flake.lock
  nix/deploy.nix
  nix/outputs.nix
Due: nixpkgs-fmt, nix-linter

pixel2: lint
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

remove eternal-terminal
  core/openssh.nix
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: zoxide
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: httpie -> ht-rust
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

pixel2: programs.exa
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter
