Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

add nix-on-droid.cachix.org
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

pixel2: remove vte for zsh
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

ci: test build pixel 2
  .github/workflows/ci.yaml
Due: none

ci: try docker/setup-qemu-action
  .github/workflows/ci.yaml
Due: none

ci: pixel2: test without nix-build-uncached
  .github/workflows/ci.yaml
Due: none

ci: try adding pixel2 to the matrix
  .github/workflows/ci.yaml
Due: none

ci: try fix build
  .github/workflows/ci.yaml
Due: none

flake.lock: Update
  flake.lock
Due: none

pin nix-on-droid for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

unpin nix-on-droid
  flake.lock
  flake.nix
Due: nixpkgs-fmt
