Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

flake.lock: Update
  flake.lock
Due: none

emacs: enable delete-selection-mode again
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

+ systembus-notify.enable
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: persist .local/share/task
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

+ cache.nixos.org
  flake.nix
Due: nixpkgs-fmt

sway: services.swayidle
  users/bbigras/graphical/sway/default.nix
Due: nixpkgs-fmt, nix-linter

update flake.lock
  flake.lock
Due: none

tweak ipfs
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

remove commitizen for now
  users/bbigras/dev/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: disable notmuch to fix build
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

gnome-tweak-tool -> gnome-tweaks
  users/bbigras/graphical/gnome.nix
Due: nixpkgs-fmt, nix-linter

emacs-hass overlay
  flake.lock
  flake.nix
  nix/overlay.nix
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: set compilation-scroll-output
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: gnuplot
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

incorporate nix-daemon changes (from upstream)
  core/nix.nix
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter
