Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

add tmux-sessionizer
  users/bbigras/core/tmux.nix
Due: nixpkgs-fmt, nix-linter

yggdrasil: use popura
  core/yggdrasil.nix
Due: nixpkgs-fmt, nix-linter

emacs: + org-ai
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

enable megasync again
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

org-hyperscheduler
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

heroic launcher
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

+ mangohud
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: org-rich-yank
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: check 'file-exists-p custom-file'
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: + dump-jump
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: + org-roam-ui
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: devdocs
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

test
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

test
  .github/actions/setup-nix/action.yaml
  .github/workflows/ci.yaml
Due: none

firefox: remove bypass-paywalls-clean
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

ventoy-bin -> ventoy
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

flake.lock: Update
  flake.lock
Due: none

flake: remove a deprecated follows
  flake.nix
Due: nixpkgs-fmt

remove discord to fix build
  users/bbigras/core/default.nix
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

remove logseq and obsidian to fix build
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

+ quickemu
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

+ zrok
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

+ aichat
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

gnome: add tiling extensions
  users/bbigras/graphical/gnome.nix
Due: nixpkgs-fmt, nix-linter

tmux: mouse = true
  users/bbigras/core/tmux.nix
Due: nixpkgs-fmt, nix-linter

tmux: remove resurrect and continuum
  users/bbigras/core/tmux.nix
Due: nixpkgs-fmt, nix-linter

firefox: +a11ycss
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

emacs: fix for org-download
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: +jinx
  users/bbigras/core/emacs.nix
Due: nixpkgs-fmt, nix-linter

Revert "remove discord to fix build"
  users/bbigras/core/default.nix
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

enable pixel6 again
  nix/deploy.nix
  nix/host-drvs.nix
  nix/hosts.nix
  nix/nix-on-droid.nix
Due: nixpkgs-fmt, nix-linter

Revert "disable pixel 6 for now"
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter

ci: add extra cachix caches
  .github/actions/setup-nix/action.yaml
Due: none

ci: add qemu back for pixel6
  .github/workflows/ci.yaml
Due: none

ci: fix warning
  .github/workflows/ci.yaml
Due: none

ci: set extra-platforms and extra-trusted-substituters
  .github/workflows/ci.yaml
Due: none

ci: fix yaml
  .github/workflows/ci.yaml
Due: none

ci: try to fix yaml again
  .github/workflows/ci.yaml
Due: none

update hosts/desktop/restic-desktop
  hosts/desktop/restic-desktop.yaml
Due: none

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
