Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

firewall: open syncthing port
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter

remove duplicate code
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter

flake: fix warning
  flake.nix
Due: nixpkgs-fmt

sway: set cursor manually for now
  users/bbigras/graphical/sway/default.nix
Due: nixpkgs-fmt, nix-linter

emacs: use no-littering-theme-backups
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

dbeaver -> dbeaver-bin
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

test enabling veilid again
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  nix/overlays/veilid.nix
  nix/veilid-Cargo.lock
Due: nixpkgs-fmt, nix-linter

catppuccin: flavour -> flavor
  hosts/desktop/default.nix
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

tablet: update uid
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

add new tablet's ssh key
  users/bbigras/nixos.nix
Due: nixpkgs-fmt, nix-linter

systemd-boot: set timeout to 0
  hardware/efi.nix
Due: nixpkgs-fmt, nix-linter

backout of commit a8db362486571f8d9346632b3dcab916a2a888fb
  .github/workflows/update-flakes.yaml
Due: none

emacs: disable copilot on aarch64
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

tablet: add starship
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

backout of commit 4ea452c41a85ea64f0c9d4e034797dab123905c1
  .github/workflows/update-flakes.yaml
Due: none

work: set type2 to "server"
  nix/hosts.nix
Due: nixpkgs-fmt, nix-linter

work: enable virt-manager
  hosts/work/default.nix
Due: nixpkgs-fmt, nix-linter

test doom-emacs
  doomDir/config.el
  doomDir/init.el
  doomDir/packages.el
  flake.lock
  flake.nix
  hosts/tablet/default.nix
  nix/home-manager.nix
  nix/nix-on-droid.nix
  nix/overlay.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: add back flatpak
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

add back using srvos desktop and server modules
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter

veilid: also listen on 5151
  services/veilid.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: disable copilot for now
  doomDir/config.el
  doomDir/packages.el
Due: none

pixel6: add doomEmacs
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

add tablet ssh key
  users/bbigras/nixos.nix
Due: nixpkgs-fmt, nix-linter

add spotube
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

remove unused packages
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

use ripgrep with home-manager
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

disable gtk.catppuccin.cursor to fix crash
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: enable magit
  doomDir/init.el
Due: none

doom-emacs: set org-roam-dailies-directory
  doomDir/config.el
Due: none

add 'nil'
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: set org directory
  doomDir/config.el
Due: none

doom-emacs: add org-roam
  doomDir/config.el
  doomDir/init.el
Due: none

emacs: remove org-ql and org-sidebar
  users/bbigras/core/emacs/org-mode.nix
Due: nixpkgs-fmt, nix-linter

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
