Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

flake.lock: Update
  flake.lock
Due: none

flake: pin nixpkgs for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

work: add docker
  hosts/work/default.nix
Due: nixpkgs-fmt, nix-linter

enable dendrite-demo-pinecone again
  core/default.nix
  core/dendrite-demo-pinecone.nix
  nix/overlay.nix
Due: nixpkgs-fmt, nix-linter

enable pantalaimon again
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

git delta: syntax-theme = "ansi"
  users/bbigras/core/git.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  core/default.nix
  core/nix.nix
  core/resolved.nix
  flake.lock
  flake.nix
  nix/build-hosts.nix
  nix/checks.nix
  nix/deploy.nix
  nix/dev-shell.nix
  nix/home-manager.nix
  nix/mask-large-drvs.nix
  nix/overlays/bluez-latest.nix
  nix/overlays/glinux-sway.nix
  nix/overlays/linux-lto.nix
  nix/overlays/masked-pkgs.nix
  nix/overlays/mosh.nix
  nix/overlays/scripts/drunmenu.nix
  nix/overlays/scripts/otpmenu.nix
  nix/overlays/scripts/spawn.nix
Due: nixpkgs-fmt, nix-linter

update-flakes.yaml: sync with upstream
  .github/workflows/update-flakes.yaml
Due: none

ci.yaml: sync with upstream
  .github/workflows/ci.yaml
Due: none

pre-commit-check: exclude hardware files
  nix/checks.nix
Due: nixpkgs-fmt, nix-linter

fix lint warnings
  core/adb.nix
  core/docker.nix
  core/nix.nix
  core/solo2.nix
  core/tailscale.nix
  graphical/location.nix
  hosts/desktop/default.nix
  hosts/desktop/hass-podman.nix
  hosts/laptop/default.nix
  nix/deploy.nix
  nix/overlay.nix
  test.nix
  users/bbigras/core/emacs.nix
  users/bbigras/core/email.nix
  users/bbigras/core/taskwarrior.nix
  users/bbigras/dev/default.nix
Due: nixpkgs-fmt, nix-linter

default.nix: sync with upstream
  default.nix
Due: nixpkgs-fmt, nix-linter

remove flake-registry override
  core/nix.nix
  nix/home-manager.nix
Due: nixpkgs-fmt, nix-linter

regen hardware-configuration-desktop.nix
  hardware/hardware-configuration-desktop.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  graphical/boot-silent.nix
  graphical/fonts.nix
  graphical/greetd.nix
  hardware/bluetooth.nix
  hardware/sound-pipewire.nix
  nix/overlay.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  users/bbigras/core/git.nix
  users/bbigras/core/zsh.nix
  users/bbigras/graphical/common.nix
  users/bbigras/graphical/default.nix
  users/bbigras/graphical/sway/default.nix
  users/bbigras/graphical/sway/foot.nix
  users/bbigras/graphical/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

firefox: remove ipfs-companion
  users/bbigras/graphical/firefox.nix
Due: nixpkgs-fmt, nix-linter

direnv: fix using direnv-psql.cfg
  users/bbigras/core/direnv-psql.cfg
  users/bbigras/dev/default.nix
Due: nixpkgs-fmt, nix-linter
