Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

remove veilid overlay
  flake.lock
  flake.nix
  nix/overlays/veilid.nix
Due: nixpkgs-fmt, nix-linter

pin catppuccin/nix to f52d2fc7c4f513c1a5d89f2911611333aee339da
  flake.lock
  flake.nix
Due: nixpkgs-fmt

add zed-editor
  users/bbigras/core/default.nix
  users/bbigras/core/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

add zed-editor overlay
  flake.lock
  flake.nix
  nix/overlays/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove jellyfin
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

pin nixpkgs
  flake.lock
  flake.nix
Due: nixpkgs-fmt

remove cargo-sweep to fix build
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

Back out "pin nixpkgs"
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake: update nixpkgs
  flake.lock
Due: none

flake: remove unused follow
  flake.nix
Due: nixpkgs-fmt

disable jj on android to fix build
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

pin srvos for now
  flake.lock
  flake.nix
Due: nixpkgs-fmt

update nixpkgs_zed
  flake.lock
  flake.nix
Due: nixpkgs-fmt

unpin catppuccin
  flake.lock
  flake.nix
Due: nixpkgs-fmt

remove lix for now
  flake.lock
  flake.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter

core/nix.nix: sync with upstream
  core/nix.nix
Due: nixpkgs-fmt, nix-linter

update lix
  flake.lock
Due: none

Back out "remove lix for now"
  flake.lock
  flake.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
  core/aspell.nix
  core/darwin.nix
  core/default.nix
  nix/home-manager.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter

desktop: try facter
  core/nixos.nix
  flake.lock
  flake.nix
  hardware/hardware-configuration-desktop.nix
  hosts/desktop/default.nix
  hosts/desktop/facter.json
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove avahi
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

justfile: use nix-output-monitor
  .justfile
Due: none

fix warnings with evince
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

add jj-fzf overlay
  flake.lock
  flake.nix
  nix/overlays/jj-fzf.nix
  users/bbigras/core/jujutsu.nix
Due: nixpkgs-fmt, nix-linter

rio: set font and size
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

desktop: enable virt-manager
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: try facter
  flake.nix
  hardware/hardware-configuration-laptop.nix
  hosts/laptop/default.nix
  hosts/laptop/facter.json
Due: nixpkgs-fmt, nix-linter

remove wakatime
  users/bbigras/core/fish.nix
  users/bbigras/core/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

desktop: remove retroarchBare
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

Back out "laptop: try facter"
  flake.nix
  hardware/hardware-configuration-laptop.nix
  hosts/laptop/default.nix
  hosts/laptop/facter.json
Due: nixpkgs-fmt, nix-linter

unpin srvos
  flake.lock
  flake.nix
Due: nixpkgs-fmt

remove space-station-14-launcher to fix build
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

use new nerd-fonts packages
  graphical/fonts.nix
  hosts/pixel6/default.nix
Due: nixpkgs-fmt, nix-linter

remove doom-emacs for now
  README.md
  doomDir/config.el
  doomDir/init.el
  doomDir/packages.el
  flake.lock
  flake.nix
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  nix/home-manager.nix
  nix/nix-on-droid.nix
  nix/overlay.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

add kubecolor
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

use the nix-your-shell home-manager module
  users/bbigras/core/default.nix
  users/bbigras/core/fish.nix
Due: nixpkgs-fmt, nix-linter

nix flake update
  flake.lock
Due: none

disable pointerCursor to fix build
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

remove lix to fix build
  flake.lock
  flake.nix
  nix/nixos.nix
Due: nixpkgs-fmt, nix-linter
