Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

backout of commit 70591ee0ae4169786087d901bab54d2604c56469
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: use crux
  doomDir/config.el
  doomDir/packages.el
Due: none

catppuccin.accent = blue
  hosts/desktop/default.nix
  hosts/pixel6/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

tablet: use catppuccin
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

drop ventoy
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

update README
  README.md
Due: none

doom-emacs: use catppuccin-theme
  doomDir/config.el
  doomDir/packages.el
Due: none

remove driSupport
  hosts/desktop/default.nix
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

laptop: remove home.pointerCursor for now
  users/bbigras/graphical/sway/default.nix
Due: nixpkgs-fmt, nix-linter

disable emacs for now
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: disable org
  doomDir/init.el
Due: none

add incus
  dev/incus.nix
  hosts/desktop/default.nix
  users/bbigras/nixos.nix
Due: nixpkgs-fmt, nix-linter

use catppuccin with qt
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: tweak tramp
  doomDir/config.el
Due: none

incus: set preseed
  dev/incus.nix
Due: nixpkgs-fmt, nix-linter

add yazi
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

try catppuccin.pointerCursor
  users/bbigras/core/default.nix
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: tweak config
  doomDir/init.el
Due: none

remove gtk.catppuccin.gnomeShellTheme
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

ssh: add back controlMaster
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

add obs-studio
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: add 'nil' and 'python3Minimal'
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

use programs.ssh.includes (hm)
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  users/bbigras/core/default.nix
  users/bbigras/core/ssh.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: set extraBinPackages
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: enable org
  doomDir/init.el
Due: none

enable plymouth
  hosts/desktop/default.nix
Due: nixpkgs-fmt, nix-linter

incus: trust incusbr0
  dev/incus.nix
Due: nixpkgs-fmt, nix-linter

enable catppuccin globally
  hosts/desktop/default.nix
  hosts/laptop/default.nix
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
  users/bbigras/core/btop.nix
  users/bbigras/core/default.nix
  users/bbigras/core/tmux.nix
  users/bbigras/core/zsh.nix
  users/bbigras/graphical/alacritty.nix
  users/bbigras/graphical/linux.nix
  users/bbigras/graphical/mpv.nix
  users/bbigras/graphical/sway/default.nix
  users/bbigras/graphical/sway/foot.nix
  users/bbigras/graphical/sway/mako.nix
  users/bbigras/graphical/sway/sway.nix
  users/bbigras/graphical/sway/waybar.nix
Due: nixpkgs-fmt, nix-linter

doom-emacs: setq vc-handled-backends '(Git)
  doomDir/config.el
Due: none

add kooha
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

set qt.platformTheme.name
  users/bbigras/graphical/linux.nix
Due: nixpkgs-fmt, nix-linter

backout of commit acc225a2f82d3163b38877ce4b869b40e5cf8a55
  doomDir/init.el
Due: none

tablet: fix color conflict
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

force services.systembus-notify.enable
  core/nixos.nix
Due: nixpkgs-fmt, nix-linter

nix-on-droid: remove build.arch
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

fmt
  treefmt.toml
Due: none

disable treefmt for now
  flake.nix
Due: nixpkgs-fmt

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
