Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

nixpkgs-fmt:
  name: nixpkgs-fmt
  entry: nixpkgs-fmt
  language: system
  description: Nix code formatter

nix-linter:
  name: nix-linter
  entry: nix-linter
  language: system
  description: Nix code linter

flake.lock: Update
  flake.lock
Due: none

disable ipfs for now
  core/default.nix
Due: nixpkgs-fmt, nix-linter

gnome: use normal firefox
  users/bbigras/gnome.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  gnome.nix
  graphical/boot-silent.nix
  graphical/default.nix
  graphical/fonts.nix
  graphical/gnome.nix
  graphical/greetd.nix
  graphical/location.nix
  graphical/sway.nix
  graphical/trusted.nix
  hosts/laptop/default.nix
  nix/overlays/drunmenu.nix
  nix/overlays/emojimenu.nix
  nix/overlays/otpmenu.nix
  nix/overlays/passmenu.nix
  users/bbigras/default.nix
  users/bbigras/graphical/alacritty.nix
  users/bbigras/graphical/common.nix
  users/bbigras/graphical/default.nix
  users/bbigras/graphical/firefox.nix
  users/bbigras/graphical/sway.nix
  users/bbigras/graphical/sway/default.nix
  users/bbigras/graphical/sway/foot.nix
  users/bbigras/graphical/sway/mako.nix
  users/bbigras/graphical/sway/sway.nix
  users/bbigras/graphical/sway/swaylock.nix
  users/bbigras/graphical/sway/waybar.nix
  users/bbigras/graphical/swaylock.nix
  users/bbigras/sway/default.nix
  users/bbigras/sway/mako.nix
  users/bbigras/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

emacs: vertico, corfu
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: remove helm
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

emacs: update bindings
  users/bbigras/dev/emacs.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  gnome.nix
  graphical/boot-silent.nix
  graphical/default.nix
  graphical/fonts.nix
  graphical/gnome.nix
  graphical/greetd.nix
  graphical/location.nix
  graphical/sway.nix
  graphical/trusted.nix
  hosts/desktop/default.nix
  hosts/desktop/kubernetes.nix
  hosts/laptop/default.nix
  hosts/work/default.nix
  nix/overlays/drunmenu.nix
  nix/overlays/emojimenu.nix
  nix/overlays/otpmenu.nix
  nix/overlays/passmenu.nix
  users/bbigras/default.nix
  users/bbigras/graphical/alacritty.nix
  users/bbigras/graphical/common.nix
  users/bbigras/graphical/default.nix
  users/bbigras/graphical/firefox.nix
  users/bbigras/graphical/gnome.nix
  users/bbigras/graphical/sway.nix
  users/bbigras/graphical/sway/default.nix
  users/bbigras/graphical/sway/foot.nix
  users/bbigras/graphical/sway/mako.nix
  users/bbigras/graphical/sway/sway.nix
  users/bbigras/graphical/sway/swaylock.nix
  users/bbigras/graphical/sway/waybar.nix
  users/bbigras/graphical/swaylock.nix
  users/bbigras/sway/default.nix
  users/bbigras/sway/mako.nix
  users/bbigras/sway/sway.nix
Due: nixpkgs-fmt, nix-linter

fix direnv with flakes
  flake.lock
  flake.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

fix powerlevel10k with tramp
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

sync .github/workflows with upstream
  .github/workflows/ci.yaml
  .github/workflows/update-flakes.yaml
Due: none

ci: remove 'lints' for now
  .github/workflows/ci.yaml
Due: none

remove gnome from graphical/default
  graphical/default.nix
Due: nixpkgs-fmt, nix-linter

try to fix get-hosts
  .github/workflows/ci.yaml
Due: none

ci: try cachix watch-exec
  .github/workflows/ci.yaml
Due: none

ci: add 'Make more space'
  .github/workflows/ci.yaml
Due: none

ci: add extraPullNames for cachix
  .github/workflows/ci.yaml
Due: none

nix-matrix-pinecone -> dendrite-demo-pinecone
  .github/workflows/ci.yaml
  core/default.nix
  core/dendrite-demo-pinecone.nix
  core/nix.nix
  flake.lock
  flake.nix
  nix/mk-host.nix
Due: nixpkgs-fmt, nix-linter

flake.nix: put nixpkgs first
  flake.nix
Due: nixpkgs-fmt

flake: switch back to nix-community/home-manager
  flake.nix
Due: nixpkgs-fmt

README: add build instructions
  README.md
Due: none

pixel2: add packages
  hosts/pixel2/default.nix
Due: nixpkgs-fmt, nix-linter

Path conditions:
  nixpkgs-fmt: any of: \.nix$
  nix-linter: any of: \.nix$, but not: flake.nix|menu/default.nix
