Repository bbigras/nix-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, nix-linter

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: forbid-new-submodules
  - id: mixed-line-ending
  - id: trailing-whitespace

- repo: local
  hooks:
  - name: nixpkgs-fmt
    entry: nixpkgs-fmt
    files: "\\.nix$"
    language: system
    description: "Nix code formatter"
    id: nixpkgs-fmt
  - name: nix-linter
    entry: nix-linter
    files: "\\.nix$"
    exclude: "flake.nix|menu/default.nix"
    language: system
    description: "Nix code linter"
    id: nix-linter

emacs: add ultra-scroll
  flake.lock
  flake.nix
  nix/overlays/emacs-ultra-scroll.nix
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

sync with upstream
  .github/workflows/ci.yaml
  nix/dev-shell.nix
  nix/packages.nix
Due: nixpkgs-fmt, nix-linter

ci: try max-jobs=1
  .github/workflows/ci.yaml
Due: none

remmina: switch to home-manager
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

move graphical stuff to users/bbigras/graphical
  users/bbigras/core/default.nix
  users/bbigras/graphical/default.nix
  users/bbigras/graphical/linux.nix
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

drop keet
  flake.nix
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

use the home-manager's mangohud module
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

remove unused packages
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

bbigras/graphical/default: clean a bit
  users/bbigras/graphical/default.nix
Due: nixpkgs-fmt, nix-linter

jujutsu: ui.default-command = log
  users/bbigras/core/jujutsu.nix
Due: nixpkgs-fmt, nix-linter

jujutsu: enable watchman.register_snapshot_trigger
  users/bbigras/core/jujutsu.nix
Due: nixpkgs-fmt, nix-linter

update nixpkgs_zed
  flake.lock
  flake.nix
Due: nixpkgs-fmt

nixos-facter: numtide -> nix-community
  flake.lock
  flake.nix
Due: nixpkgs-fmt

flake: remove commented line
  flake.nix
Due: nixpkgs-fmt

pin jj-fzf
  flake.lock
  flake.nix
Due: nixpkgs-fmt

remove envrc overlay
  flake.lock
  flake.nix
  nix/overlays/envrc.nix
Due: nixpkgs-fmt, nix-linter

nix-on-droid: t184256 -> nix-community
  flake.lock
  flake.nix
Due: nixpkgs-fmt

emacs-pgtk only for cosmic
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

fmt: emacs/default.nix
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

pixel6 & tablet: emacs: add god-mode
  hosts/pixel6/default.nix
  hosts/tablet/default.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: ensure to use catppuccin's theme
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

emacs: add god-mode
  users/bbigras/core/emacs/default.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: use alejandra for nix formatting
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

add back 'radicle-node'
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: add 'nil' and 'nixd' to home-manager
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: add alejandra to home-manager
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: add rust-analyzer config
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

zed-editor: fmt
  users/bbigras/graphical/zed-editor.nix
Due: nixpkgs-fmt, nix-linter

laptop: use normal kernel to fix the build
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter

try to fix ci for aarch64-linux
  .github/workflows/ci.yaml
Due: none

update nixpkgs_jj-fzf
  flake.lock
  flake.nix
Due: nixpkgs-fmt

desktop: add bridge for incus
  hosts/desktop/default.nix
  hosts/desktop/network-bridge.nix
Due: nixpkgs-fmt, nix-linter

nix flake update
  flake.lock
Due: none

emacs: disable flymake-eslint to fix the build
  users/bbigras/core/emacs/typescript.nix
Due: nixpkgs-fmt, nix-linter

add resticprofile
  users/bbigras/core/default.nix
Due: nixpkgs-fmt, nix-linter

jujutsu: remove meld as default
  users/bbigras/core/jujutsu.nix
Due: nixpkgs-fmt, nix-linter

WIP: tweak earlyoom
  hosts/laptop/default.nix
Due: nixpkgs-fmt, nix-linter
